<div class="container">
  <h1>Arabalar</h1>
  <table class="table">
    <thead>
      <tr>

        <th>Araba</th>
        <th>Renk</th>
        <th>Marka</th>
        <th>Model</th>
        <th>Günlük Fiyat</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars">

        <td>{{ car.carName }}</td>
        <td>{{ car.colourId }}</td>
        <td>{{ car.brandId }}</td>
        <td>{{ car.modelYear }}</td>
        <td>{{ car.dailyPrice }}</td>
        <td>
          <button
            routerLink="/cars/carDetail/{{ car.carId }}"
            type="button"
            class="btn btn-success"
          >
            Araç Detay
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
