<div class="container">
  <h1>Arabalar</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Araba</th>
        <th>Rengi</th>
        <th>Markası</th>
        <th>Modeli</th>
        <th>Günlük Fiyatı</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars">
        <td>{{ car.carId }}</td>
        <td>{{ car.carName }}</td>
        <td>{{ car.colourName }}</td>
        <td>{{ car.brandName }}</td>
        <td>{{ car.modelYear }}</td>
        <td>{{ car.dailyPrice }}</td>
      </tr>
    </tbody>
  </table>
</div>
